/* CartItem.css */

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-info {
    flex-grow: 1;
}

.cart-item-title {
    margin-bottom: 5px;
}

.cart-item-price {
    font-weight: bold;
    margin-bottom: 5px;
}


