/* Cart.css */

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90rem;
    height: 100vh;
    background-color: #f9f9f9;
}

.cart-content {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}