/* ProductDetail.css */

/* Estilo para el contenedor del detalle del producto */
.product-detail {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  /* Estilo para el contenedor de la imagen del producto */
  .product-image-container {
    width: 40%; /* Porcentaje del ancho total */
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Estilo para la imagen del producto */
  .product-image {
    width: 100%;
    height: auto;
  }
  
  /* Estilo para el contenedor de los detalles del producto */
  .product-details {
    width: 60%; /* Porcentaje del ancho total */
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Estilo para los elementos dentro del contenedor de los detalles del producto */
  .product-details > * {
    margin-bottom: 10px;
  }
  
  /* Estilo para el botón */
  .product-details button {
    margin-top: 10px;
  }
  